<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body background="https://images7.alphacoders.com/317/thumb-1920-317196.jpg">
    <h2>BUS BOOKING DEATILS</h2>
    <ul>
        <li>SEAT NUMBER:{{mca.seatnumber}}</li>
        <li>NAME:{{mca.name}}</li>
        <li>SOURCE:{{mca.SOURCE}}</li>
        <li>DESTINATION:{{mca.DESTINATION}}</li>
        <li>DEPARTURE:{{mca.DEPARTURE}}</li>
    </ul>
</body>
</html>