<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body background=https://c8.alamy.com/comp/DGMCBW/american-school-bus-with-school-in-background-bethlehem-nazareth-pennsylvania-DGMCBW.jpg>
        <form action="/book/" method="POST">
            {%csrf_token%}
            <input type="checkbox" name="vehicle1" value="01">a1
            <input type="checkbox" name="vehicle1" value="02">a2
            <input type="checkbox" name="vehicle1" value="03">a3
            <input type="checkbox" name="vehicle1" value="04">a4
            <input type="checkbox" name="vehicle1" value="05">a5
            <input type="checkbox" name="vehicle1" value="06">a6<br>
            <input type="checkbox" name="vehicle1" value="07">a7
            <input type="checkbox" name="vehicle1" value="08">a8
            <input type="checkbox" name="vehicle1" value="09">a9
            <input type="checkbox" name="vehicle1" value="10">a10
            <input type="checkbox" name="vehicle1" value="12">a11
            <input type="checkbox" name="vehicle1" value="13">a12<br><br><br>
            <input type="checkbox" name="vehicle1" value="14">a13
            <input type="checkbox" name="vehicle1" value="15">a14
            <input type="checkbox" name="vehicle1" value="16">a15
            <input type="checkbox" name="vehicle1" value="17">a16
            <input type="checkbox" name="vehicle1" value="18">a17
            <input type="checkbox" name="vehicle1" value="19">a18<br>
            <input type="checkbox" name="vehicle1" value="20">a19
            <input type="checkbox" name="vehicle1" value="21">a20
            <input type="checkbox" name="vehicle1" value="22">a21
            <input type="checkbox" name="vehicle1" value="23">a22
            <input type="checkbox" name="vehicle1" value="24">a23
            <input type="checkbox" name="vehicle1" value="25">a24<br>
            <input type="checkbox" name="vehicle1" value="26">a25
            <input type="checkbox" name="vehicle1" value="27">a26
            <input type="checkbox" name="vehicle1" value="28">a27
            <input type="checkbox" name="vehicle1" value="29">a28
            <input type="checkbox" name="vehicle1" value="30">a29
            <input type="checkbox" name="vehicle1" value="31">a30<br>

            <input type="submit" value="Submit">
          </form>
</body>
</html>