<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table,th,td{
            border: 1px solid #000000;
        }
    </style>
</head>
<body background=https://images-na.ssl-images-amazon.com/images/I/91Sqa-af%2BEL._SX425_.jpg>
    >
    <table>
        <thead>
            <tr>
                <th>buscode</th>
                <th>bustype</th>
                <th>source</th>
                <th>destination</th>
                <th>departure</th>
                <th>depature</th>
                <th>action</th>
            </tr>
        </thead>
    <tr>
    {%for k in am%}
    <td>{{k.buscode}}</td>
    <td>{{k.bustype}}</td>
    <td>{{k.source}}</td>
    <td>{{k.destination}}</td>
    <td>{{k.departure}}</td>
    <td>{{k.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}
    <tr>
    {%for k1 in am1%}
    <td>{{k1.buscode}}</td>
    <td>{{k1.bustype}}</td>
    <td>{{k1.source}}</td>
    <td>{{k1.destination}}</td>
    <td>{{k1.departure}}</td>
    <td>{{k1.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}
    <tr>
    {%for k2 in am2%}
    <td>{{k2.buscode}}</td>
    <td>{{k2.bustype}}</td>
    <td>{{k2.source}}</td>
    <td>{{k2.destination}}</td>
    <td>{{k2.departure}}</td>
    <td>{{k2.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}

    <tr>
    {%for k3 in bm%}
    <td>{{k3.buscode}}</td>
    <td>{{k3.bustype}}</td>
    <td>{{k3.source}}</td>
    <td>{{k3.destination}}</td>
    <td>{{k3.departure}}</td>
    <td>{{k3.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}

    <tr>
    {%for k4 in bm1%}
    <td>{{k4.buscode}}</td>
    <td>{{k4.bustype}}</td>
    <td>{{k4.source}}</td>
    <td>{{k4.destination}}</td>
    <td>{{k4.departure}}</td>
    <td>{{k4.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}

    <tr>
    {%for k5 in bm2%}
    <td>{{k5.buscode}}</td>
    <td>{{k5.bustype}}</td>
    <td>{{k5.source}}</td>
    <td>{{k5.destination}}</td>
    <td>{{k5.departure}}</td>
    <td>{{k5.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}

    <tr>
    {%for k6 in bm3%}
    <td>{{k6.buscode}}</td>
    <td>{{k6.bustype}}</td>
    <td>{{k6.source}}</td>
    <td>{{k6.destination}}</td>
    <td>{{k6.departure}}</td>
    <td>{{k6.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}

    <tr>
    {%for k7 in cm%}
    <td>{{k7.buscode}}</td>
    <td>{{k7.bustype}}</td>
    <td>{{k7.source}}</td>
    <td>{{k7.destination}}</td>
    <td>{{k7.departure}}</td>
    <td>{{k7.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}

    <tr>
    {%for k8 in cm1%}
    <td>{{k8.buscode}}</td>
    <td>{{k8.bustype}}</td>
    <td>{{k8.source}}</td>
    <td>{{k8.destination}}</td>
    <td>{{k8.departure}}</td>
    <td>{{k8.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}

    <tr>
    {%for k9 in cm2%}
    <td>{{k9.buscode}}</td>
    <td>{{k9.bustype}}</td>
    <td>{{k9.source}}</td>
    <td>{{k9.destination}}</td>
    <td>{{k9.departure}}</td>
    <td>{{k9.depature}}</td>
    <td><a href="/hari/"><input type="submit" value="book"></a></td>
    </tr>
    {%endfor%}
</table>
</body>
</html>